/*webkit-sassui-justify Start*/
.webkit-sassui-justify, .justify-demo {
  text-align: justify;
  /* fully justify all items in browsers other than IE */
  /*
  Attention:IE7 don't need the solution when you use span/a/input and the other default inline element.
  */
}

.webkit-sassui-justify > *, .justify-demo > * {
  text-align: left;
  /* customize to suit */
  display: inline-block;
}

.webkit-sassui-justify:after, .justify-demo:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/*justify End*/
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 400px;
  margin: 50px auto 0;
}

.justify-demo {
  font-size: 0;
}

.justify-demo > * {
  font-size: 14px;
}

.justify-demo > * {
  width: 24px;
  line-height: 24px;
  text-align: center;
  background: #333;
  color: white;
  border-radius: 50%;
}
