@import '../dist/webkit-sassui-justify.scss'; //global mini reset:

* {
  margin: 0;
  padding: 0;
}

hr {
  // margin: 10px auto;
}

.container {
  width: 400px;
  margin: 50px auto 0;
}

.place-img{
  img{
    vertical-align: top;
  }
}

.justify-text-demo {
  margin: 0 auto;
  border: 1px solid #f00;
}

.justify-text-demo{
  > * {
    width: 24px;
    line-height: 24px;
    text-align: center;
    background: #333;
    color: white;
    border-radius: 50%;
  }
}

.justify-demo {
  //Child must have font-size:
  @include webkit-sassui-justify(14px);

  > * {
    width: 24px;
    line-height: 24px;
    text-align: center;
    background: #333;
    color: white;
    border-radius: 50%;
  }
}

.justify-demo-use-css {
  height: 24px;

  > * {
    width: 24px;
    line-height: 24px;
    text-align: center;
    background: #f60;
    color: white;
    border-radius: 50%;
  }
}
