/*webkit-sassui-justify Start*/
/*animation Start*/
/*animation End*/
/*appearance Start*/
/*appearance End*/
/*backface-visibility Start*/
/*backface-visibility End*/
/*background Start*/
/*background End*/
/*border-radius Start*/
/*border-radius End*/
/*box-shadow Start*/
/*box-shadow End*/
/*box-sizing Start*/
/*box-sizing End*/
/*clearfix Start*/
/*clearfix End*/
/*content-columns Start*/
/*content-columns End*/
/*dib-grid Start*/
/*dib-grid End*/
/*filter Start*/
/*filter End*/
/*flexbox Start*/
/*flexbox End*/
/*flip Start*/
/*flip End*/
/*height Start*/
/*height End*/
/*margin Start*/
/*margin End*/
/*padding Start*/
/*padding End*/
/*placeholder Start*/
/*placeholder End*/
/*size Start*/
/*size End*/
/*tap-highlight-transparent Start*/
/*tap-highlight-transparent End*/
/*text-size-adjust Start*/
/*text-size-adjust End*/
/*touch-callout Start*/
/*touch-callout End*/
/*transformation Start*/
/*transformation End*/
/*transition Start*/
/*transition End*/
/**
 * @desc  triangle
 * @param $width
 * @param $height
 * @param $color
 * @param $direction: top bottom left right
 */
/**
 * @desc Use svg
 */
/*user-select Start*/
/*user-select End*/
/*width Start*/
/*width End*/
.webkit-sassui-justify-dib, .justify-demo2, .justify-demo {
  text-align: justify;
  /* fully justify all items in browsers other than IE */
  /*
  Attention:IE7 don't need the solution when you use span/a/input and the other default inline element.
  */
}

.webkit-sassui-justify-dib > *, .justify-demo2 > *, .justify-demo > * {
  text-align: left;
  /* customize to suit */
  display: inline-block;
}

.webkit-sassui-justify-dib:after, .justify-demo2:after, .justify-demo:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.webkit-sassui-justify-inline {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  text-justify: inter-ideograph;
}

.webkit-sassui-justify-flex, .webkit-flex-justify-demo, .webkit-sassui-justify-flex-y1 {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.webkit-sassui-justify-flex, .webkit-flex-justify-demo, .webkit-sassui-justify-flex-y1,
.webkit-sassui-justify-flex > *, .webkit-flex-justify-demo > *, .webkit-sassui-justify-flex-y1 > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

/*justify End*/
* {
  margin: 0;
  padding: 0;
}

.webkit-sassui-justify-lmr-demo {
  display: table;
  width: 100%;
}

.webkit-sassui-justify-lmr-demo > * {
  display: table-cell;
  width: 1%;
}

.webkit-sassui-justify-lmr-demo > .left {
  text-align: left;
}

.webkit-sassui-justify-lmr-demo > .middle {
  text-align: center;
}

.webkit-sassui-justify-lmr-demo > .right {
  text-align: right;
}

.t3-text {
  font-size: 12px;
  color: #999;
}

.t3-text > span {
  text-align: left;
}

.container {
  width: 400px;
  margin: 50px auto 0;
}

.place-img img {
  vertical-align: top;
}

.justify-text-demo {
  margin: 0 auto;
  border: 1px solid #f00;
}

.test-element-b-span > span {
  width: 30%;
  margin-bottom: 10px;
  min-height: 80px;
}

.justify-text-demo > * {
  width: 24px;
  line-height: 24px;
  text-align: center;
  background: #333;
  color: white;
  border-radius: 50%;
}

.justify-demo2 {
  font-size: 0;
}

.justify-demo2 > * {
  font-size: 14px;
}

.justify-demo {
  font-size: 0;
}

.justify-demo > * {
  font-size: 14px;
}

.justify-demo > * {
  width: 24px;
  line-height: 24px;
  text-align: center;
  background: #333;
  color: white;
  border-radius: 50%;
}

.justify-demo-use-css {
  height: 24px;
}

.justify-demo-use-css > * {
  width: 24px;
  line-height: 24px;
  text-align: center;
  background: #f60;
  color: white;
  border-radius: 50%;
}

.webkit-sassui-justify-flex-y1 {
  height: 300px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.webkit-sassui-justify-flex-y1 > * {
  border: 1px solid #000;
}
