/*justify Start*/
.justify {
  vertical-align: top;
  text-align: justify;
  //text-justify: distribute-all-lines; /* distribute items in IE */
  //*zoom:1;
  & > * {
    text-align: left;
    /* customize to suit */
    vertical-align: top;
    display: inline-block;
  }
  /* fully justify all items in browsers other than IE */
  /*
  Attention:IE7 don't need the solution when you use span/a/input and the other default inline element.
  */
  &:after {
    display: inline-block;
    content: '\200b';
    overflow: hidden;
    height: 0;
    width: 100%;
  }
}
/*justify End*/
